@{
    ViewBag.Title = "Hello World";
}


<h1 class="text-center">@ViewBag.title</h1>

<div class="row">

    <div class="col-12">
        <h1 class="text-center">This is the Index Page</h1>
    </div>

</div>